# Ignore binary directory:
build/

# Ignore C/C++ object files and executables:
*.o
*.so
moc_*
qrc_*
Makefile
SoFiA

# Ignore Python bytecode:
*.pyc

# Ignore backup files:
*~

# Ignore the test directory
sofia/tests
